/* Universal Styles */

html {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.image-container video {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.22rem;
  margin-top: 0;
  margin-bottom: 1.33rem;
}

h3 {
  font-size: 1.33rem;
  margin-bottom: 1.33rem;
}

p {
  font: 1rem;
}

/* Column Formatting */
.maincontainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.column.large {
  width: 60%;
  padding: 1.78rem 1.33rem;
}

.column.small {
  width: 40%;
  padding: 1.78rem 0;
}

/* Tab Column Formatting */
.tab {
  display: flex;
}

.tab .image-container {
  width: 35%;
  height: auto;
  margin: 0.89rem;
}

.tabtext {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.89rem;
}

.tabtext h4, .tabtext p {
  margin-bottom: 0.44rem;
}

/* Header Section */
#header .desktop {
  display: flex;
  padding: 0.89rem 1.33rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#logo {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

#logo img {
  height: 1.78rem;
}
#logo .bold {
  font-weight: 800;
}

nav span a {
  margin-left: 0.89rem;
}

#header .mobile {
  display: none;
}

@media only screen and (max-width:470px) {
  #header .desktop {
    display: none;
  }

  #header .mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.56rem;
  }

}

/* Jumbotron Section */
#jumbotron {
  background-color: lightgrey;
}

#jumbotrontext {
  width: 60%;
}

#jumbotronbutton {
  background-color: darkgrey;
  text-align: center;
  padding: 0.44rem;
}

@media only screen and (max-width:470px) {
  #jumbotron {
    display: flex;
    flex-direction: column;
  }

  #jumbotron .column.large {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #jumbotron .column.small {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #jumbotrontext {
    width: auto;
    padding: 1.78rem 0.89rem;
  }

  #jumbotrontext h1 {
    margin-bottom: 1.78rem;
  }

  #jumbotrontext h3 {
    margin-bottom: 1.33rem;
  }

}

/*Information Section */
#information {
  align-items: flex-start;
}

#main-img img {
  margin-bottom: 1.78rem;
}

#featured p {
  margin-bottom: 1.33rem;
}

.image-container.mobile {
  display: none;
}

@media only screen and (max-width:470px) {
  #featured {
    display: none;
  }

  #information .column.small {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .tab {
    flex-direction: column;
    margin-bottom: 0.89rem;
  }

  .image-container.desktop {
    display: none;
  }

  .image-container.mobile {
    display: block;
  }

  .tab .image-container {
    width: auto;
    height: auto;
  }

  .tabtext {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.89rem;
    padding-left: 0.89rem;
    padding-right: 0.89rem;
  }

}

/* Classes Section */
#classes {
  padding: 1.78rem 3.11rem;
  background-color: lightgrey;
}

#classes h2 {
  text-align: center;
}

#tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.track.desktop {
  margin: 1.78rem 0.89rem 0 0.89rem;
  background-color: white;
  width: 30%
}

.tracktext {
  padding: 0.89rem;
}

.tracktext h4, .tracktext p {
  margin-bottom: 0.44rem;
}

.track.mobile {
  display: none;
}

@media only screen and (max-width:470px) {
  #classes {
    padding: 1.78rem 0.89rem;
  }

  #classes h2 {
    margin-bottom: 0.44rem;
  }

  #tracks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .track.desktop {
    display: none;
  }

  .track.mobile {
    display: block;
    background-color: darkgrey;
    padding: 0.89rem;
    margin-top: 0.44rem;
  }

}

/* Exbihit Section */
#exhibit h2 {
  text-align: center;
  margin-top: 1.78rem;
}
#exhibit-col {
  align-items: flex-start;
}

#exhibit-col video {
  margin-bottom: 1.33rem;
}

#exhibit-col h4 {
  margin-bottom: 0.44rem;
}

@media only screen and (max-width:470px) {
  #exhibit {
    margin-top: 1.78rem;
  }

  #exhibit-col .column.large {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #exhibit-text {
    display: none;
  }
  #exhibit-col .column.small {
    display: none;
  }

  #exhibit-col video {
    margin-top: 0.89rem;
    margin-bottom: 1.33rem;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 0.89rem 1.33rem;
  border-top: solid lightgrey 0.06rem;
}

@media only screen and (max-width:470px) {
  footer {
    width: auto;
    padding: 0.89rem;
  }

  footer nav {
    display: none;
  }
}
