/* Universal Styles */

html {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.22rem;
  margin-top: 0;
  margin-bottom: 1.33rem;
}

h3 {
  font-size: 1.33rem;
  margin-bottom: 1.33rem;
}

p {
  font: 1rem;
}

/* Column Formatting */
.maincontainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.column.large {
  width: 60%;
  padding: 1.78rem 1.33rem;
}

.column.small {
  width: 40%;
  padding: 1.78rem 0;
}

/* Tab Column Formatting */
.tab {
  display: flex;
}

.tab .image-container {
  width: 35%;
  height: auto;
  margin: 0.89rem;
}

.tabtext {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabtext h4, .tabtext p {
  margin-bottom: 0.44rem;
}

/* Header Section */
#header {
  display: flex;
  padding: 0.89rem 1.33rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#logo {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

#logo img {
  height: 1.78rem;
}
#logo .bold {
  font-weight: 800;
}

nav span a {
  margin-left: 0.89rem;
}

/* Jumbotron Section */
#jumbotron {
  background-color: lightgrey;
}

#jumbotrontext {
  width: 60%;
}

#jumbotronbutton {
  background-color: darkgrey;
  text-align: center;
  padding: 0.44rem;
}

/*Information Section */
#information {
  align-items: flex-start;
}

#main-img img {
  margin-bottom: 1.78rem;
}

#featured p {
  margin-bottom: 1.33rem;
}

/* Classes Section */
#classes {
  padding: 1.78rem 3.11rem;
  background-color: lightgrey;
}

#classes h2 {
  text-align: center;
}

#tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.track {
  margin: 1.78rem 0.89rem 0 0.89rem;
  background-color: white;
  width: 30%
}

.tracktext {
  padding: 0.89rem;
}

.tracktext h4, .tracktext p {
  margin-bottom: 0.44rem;
}
